.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.button .dot {
  height: 10px;
  position: relative;
  width: 10px;
}

.button .div {
  border-radius: 4px;
  height: 8px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 8px;
}

.button .text {
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .text-wrapper {
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .placeholder-67 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button .placeholder-183 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button.sm {
  gap: 8px;
}

.button.secondary-gray {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.button.md {
  gap: 8px;
}

.button.secondary-color {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.button.lg {
  gap: 8px;
}

.button.primary {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.button.only {
  gap: 8px;
}

.button.xl {
  gap: 8px;
}

.button.tertiary-color {
  border-radius: 8px;
  overflow: hidden;
}

.button.tertiary-gray {
  border-radius: 8px;
  overflow: hidden;
}

.button.secondary-gray.default {
  background-color: var(--basewhite);
  box-shadow: var(--shadow-xs);
}

.button.secondary-gray.hover {
  box-shadow: var(--shadow-xs);
}

.button.focused.secondary-gray {
  background-color: var(--basewhite);
}

.button.only.xl {
  padding: 14px;
}

.button.only.md {
  padding: 10px;
}

.button.dot-leading.two-xl {
  gap: 12px;
}

.button.primary.hover {
  box-shadow: var(--shadow-xs);
}

.button.lg.only {
  padding: 12px;
}

.button.secondary-gray.disabled {
  background-color: var(--basewhite);
  box-shadow: var(--shadow-xs);
}

.button.default.two-xl {
  gap: 12px;
}

.button.primary.default {
  box-shadow: var(--shadow-xs);
}

.button.primary.disabled {
  box-shadow: var(--shadow-xs);
}

.button.sm.only {
  padding: 8px;
}

.button.only.two-xl {
  padding: 16px;
}

.button.sm.secondary-color.default {
  padding: 8px 14px;
}

.button.dot-leading.primary.two-xl {
  padding: 16px 28px;
}

.button.destructive-false.secondary-color.disabled {
  background-color: var(--primary-25);
  border-color: var(--primary-25);
}

.button.xl.secondary-color.default {
  padding: 12px 20px;
}

.button.secondary-gray.destructive-false.hover {
  background-color: var(--gray-50);
  border-color: var(--gray-300);
}

.button.tertiary-gray.sm.default {
  padding: 8px 14px;
}

.button.lg.tertiary-gray.dot-leading {
  padding: 10px 18px;
}

.button.primary.default.two-xl {
  padding: 16px 28px;
}

.button.tertiary-color.xl.default {
  padding: 12px 20px;
}

.button.tertiary-gray.md.default {
  padding: 10px 16px;
}

.button.secondary-gray.destructive-true.disabled {
  border-color: var(--error-200);
}

.button.xl.secondary-color.dot-leading {
  padding: 12px 20px;
}

.button.primary.destructive-false.default {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
}

.button.hover.destructive-true.secondary-color {
  background-color: var(--error-100);
  border-color: var(--error-100);
}

.button.focused.destructive-true.secondary-gray {
  border-color: var(--error-300);
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.button.tertiary-gray.destructive-true.hover {
  background-color: var(--error-50);
}

.button.default.secondary-color.two-xl {
  padding: 16px 28px;
}

.button.secondary-gray.md.default {
  padding: 10px 16px;
}

.button.md.secondary-color.dot-leading {
  padding: 10px 16px;
}

.button.focused.primary.destructive-false {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.button.primary.destructive-true.hover {
  background-color: var(--error-700);
  border-color: var(--error-700);
}

.button.dot-leading.tertiary-gray.two-xl {
  padding: 16px 28px;
}

.button.tertiary-gray.md.dot-leading {
  padding: 10px 16px;
}

.button.dot-leading.secondary-color.two-xl {
  padding: 16px 28px;
}

.button.lg.secondary-color.default {
  padding: 10px 18px;
}

.button.primary.destructive-false.disabled {
  background-color: var(--primary-200);
  border-color: var(--primary-200);
}

.button.lg.primary.dot-leading {
  padding: 10px 18px;
}

.button.primary.md.dot-leading {
  padding: 10px 16px;
}

.button.lg.primary.default {
  padding: 10px 18px;
}

.button.default.tertiary-color.two-xl {
  padding: 16px 28px;
}

.button.lg.secondary-color.dot-leading {
  padding: 10px 18px;
}

.button.sm.tertiary-color.dot-leading {
  padding: 8px 14px;
}

.button.tertiary-gray.sm.dot-leading {
  padding: 8px 14px;
}

.button.primary.sm.dot-leading {
  padding: 8px 14px;
}

.button.hover.destructive-true.tertiary-color {
  background-color: var(--error-50);
}

.button.tertiary-gray.destructive-false.hover {
  background-color: var(--gray-50);
}

.button.tertiary-gray.xl.dot-leading {
  padding: 12px 20px;
}

.button.tertiary-color.xl.dot-leading {
  padding: 12px 20px;
}

.button.secondary-gray.xl.dot-leading {
  padding: 12px 20px;
}

.button.secondary-gray.destructive-false.disabled {
  border-color: var(--gray-200);
}

.button.focused.destructive-false.secondary-color {
  background-color: var(--primary-50);
  border-color: var(--primary-50);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.button.primary.sm.default {
  padding: 8px 14px;
}

.button.secondary-gray.xl.default {
  padding: 12px 20px;
}

.button.hover.destructive-false.secondary-color {
  background-color: var(--primary-100);
  border-color: var(--primary-100);
}

.button.lg.tertiary-color.default {
  padding: 10px 18px;
}

.button.lg.tertiary-gray.default {
  padding: 10px 18px;
}

.button.default.destructive-true.secondary-color {
  background-color: var(--error-50);
  border-color: var(--error-50);
}

.button.primary.md.default {
  padding: 10px 16px;
}

.button.primary.destructive-false.hover {
  background-color: var(--primary-700);
  border-color: var(--primary-700);
}

.button.destructive-false.default.secondary-color {
  background-color: var(--primary-50);
  border-color: var(--primary-50);
}

.button.lg.secondary-gray.dot-leading {
  padding: 10px 18px;
}

.button.md.secondary-color.default {
  padding: 10px 16px;
}

.button.focused.destructive-true.secondary-color {
  background-color: var(--error-50);
  border-color: var(--error-50);
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.button.primary.destructive-true.disabled {
  background-color: var(--error-200);
  border-color: var(--error-200);
}

.button.lg.secondary-gray.default {
  padding: 10px 18px;
}

.button.secondary-gray.destructive-false.default {
  border-color: var(--gray-300);
}

.button.secondary-gray.default.destructive-true {
  border-color: var(--error-300);
}

.button.tertiary-color.md.default {
  padding: 10px 16px;
}

.button.secondary-gray.sm.dot-leading {
  padding: 8px 14px;
}

.button.focused.primary.destructive-true {
  background-color: var(--error-600);
  border-color: var(--error-600);
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.button.tertiary-gray.default.two-xl {
  padding: 16px 28px;
}

.button.dot-leading.secondary-gray.two-xl {
  padding: 16px 28px;
}

.button.destructive-true.secondary-color.disabled {
  background-color: var(--error-25);
  border-color: var(--error-25);
}

.button.tertiary-color.md.dot-leading {
  padding: 10px 16px;
}

.button.focused.destructive-false.secondary-gray {
  border-color: var(--gray-300);
  box-shadow: var(--shadow-xs-focused-4px-gray-100);
}

.button.hover.destructive-false.tertiary-color {
  background-color: var(--primary-50);
}

.button.secondary-gray.destructive-true.hover {
  background-color: var(--error-50);
  border-color: var(--error-300);
}

.button.primary.xl.dot-leading {
  padding: 12px 20px;
}

.button.sm.tertiary-color.default {
  padding: 8px 14px;
}

.button.secondary-gray.default.two-xl {
  padding: 16px 28px;
}

.button.dot-leading.tertiary-color.two-xl {
  padding: 16px 28px;
}

.button.sm.secondary-color.dot-leading {
  padding: 8px 14px;
}

.button.lg.tertiary-color.dot-leading {
  padding: 10px 18px;
}

.button.secondary-gray.sm.default {
  padding: 8px 14px;
}

.button.secondary-gray.md.dot-leading {
  padding: 10px 16px;
}

.button.tertiary-gray.xl.default {
  padding: 12px 20px;
}

.button.primary.xl.default {
  padding: 12px 20px;
}

.button.primary.default.destructive-true {
  background-color: var(--error-600);
  border-color: var(--error-600);
}

.button.primary .div {
  background-color: var(--basewhite);
}

.button.focused.secondary-color .div {
  background-color: var(--success-500);
}

.button.focused.link-color .div {
  background-color: var(--success-500);
}

.button.hover.tertiary-color .div {
  background-color: var(--success-500);
}

.button.focused.tertiary-color .div {
  background-color: var(--success-500);
}

.button.focused.tertiary-gray .div {
  background-color: var(--success-500);
}

.button.link-gray.default .div {
  background-color: var(--success-500);
}

.button.tertiary-gray.hover .div {
  background-color: var(--success-500);
}

.button.hover.link-gray .div {
  background-color: var(--success-500);
}

.button.default.link-color .div {
  background-color: var(--success-500);
}

.button.default.secondary-color .div {
  background-color: var(--success-500);
}

.button.secondary-gray.default .div {
  background-color: var(--success-500);
}

.button.secondary-gray.hover .div {
  background-color: var(--success-500);
}

.button.focused.secondary-gray .div {
  background-color: var(--success-500);
}

.button.hover.link-color .div {
  background-color: var(--success-500);
}

.button.hover.secondary-color .div {
  background-color: var(--success-500);
}

.button.focused.link-gray .div {
  background-color: var(--success-500);
}

.button.tertiary-gray.default .div {
  background-color: var(--success-500);
}

.button.default.tertiary-color .div {
  background-color: var(--success-500);
}

.button.destructive-false.link-color.disabled .div {
  background-color: var(--gray-300);
}

.button.link-gray.destructive-true.disabled .div {
  background-color: var(--error-300);
}

.button.destructive-true.secondary-color.disabled .div {
  background-color: var(--error-300);
}

.button.secondary-gray.destructive-true.disabled .div {
  background-color: var(--error-300);
}

.button.destructive-false.secondary-color.disabled .div {
  background-color: var(--primary-300);
}

.button.destructive-false.tertiary-color.disabled .div {
  background-color: var(--gray-300);
}

.button.tertiary-gray.destructive-true.disabled .div {
  background-color: var(--error-300);
}

.button.tertiary-gray.destructive-false.disabled .div {
  background-color: var(--gray-300);
}

.button.destructive-false.link-gray.disabled .div {
  background-color: var(--gray-300);
}

.button.destructive-true.disabled.link-color .div {
  background-color: var(--error-300);
}

.button.destructive-true.tertiary-color.disabled .div {
  background-color: var(--error-300);
}

.button.secondary-gray.destructive-false.disabled .div {
  background-color: var(--gray-300);
}

.button.md .text {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button.sm .text {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button.xl .text {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button.lg .text {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button.two-xl .text {
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
}

.button.primary .text {
  color: var(--basewhite);
}

.button.destructive-false.default.link-gray .text {
  color: var(--gray-600);
}

.button.default.destructive-true.link-gray .text {
  color: var(--error-700);
}

.button.destructive-false.link-color.disabled .text {
  color: var(--gray-300);
}

.button.secondary-gray.destructive-false.default .text {
  color: var(--gray-700);
}

.button.secondary-gray.default.destructive-true .text {
  color: var(--error-700);
}

.button.destructive-false.secondary-color.disabled .text {
  color: var(--primary-300);
}

.button.focused.destructive-false.secondary-color .text {
  color: var(--primary-700);
}

.button.destructive-false.tertiary-color.disabled .text {
  color: var(--gray-300);
}

.button.tertiary-gray.destructive-true.disabled .text {
  color: var(--error-300);
}

.button.tertiary-gray.destructive-false.disabled .text {
  color: var(--gray-300);
}

.button.hover.destructive-false.secondary-color .text {
  color: var(--primary-800);
}

.button.focused.tertiary-gray.destructive-false .text {
  color: var(--gray-600);
}

.button.focused.tertiary-gray.destructive-true .text {
  color: var(--error-700);
}

.button.hover.destructive-false.link-gray .text {
  color: var(--gray-700);
}

.button.focused.destructive-false.tertiary-color .text {
  color: var(--primary-700);
}

.button.secondary-gray.destructive-false.hover .text {
  color: var(--gray-800);
}

.button.destructive-true.secondary-color.disabled .text {
  color: var(--error-300);
}

.button.focused.destructive-false.link-color .text {
  color: var(--primary-700);
}

.button.focused.destructive-false.secondary-gray .text {
  color: var(--gray-700);
}

.button.hover.destructive-false.tertiary-color .text {
  color: var(--primary-800);
}

.button.destructive-true.disabled.link-color .text {
  color: var(--error-300);
}

.button.hover.link-gray.destructive-true .text {
  color: var(--error-800);
}

.button.tertiary-color.default.destructive-false .text {
  color: var(--primary-700);
}

.button.default.tertiary-color.destructive-true .text {
  color: var(--error-700);
}

.button.focused.destructive-false.link-gray .text {
  color: var(--gray-600);
}

.button.tertiary-gray.destructive-false.default .text {
  color: var(--gray-600);
}

.button.secondary-gray.destructive-true.hover .text {
  color: var(--error-800);
}

.button.default.destructive-true.link-color .text {
  color: var(--error-700);
}

.button.default.destructive-false.link-color .text {
  color: var(--primary-700);
}

.button.link-gray.destructive-true.disabled .text {
  color: var(--error-300);
}

.button.default.destructive-true.secondary-color .text {
  color: var(--error-700);
}

.button.secondary-gray.destructive-true.disabled .text {
  color: var(--error-300);
}

.button.hover.destructive-true.tertiary-color .text {
  color: var(--error-800);
}

.button.tertiary-gray.destructive-false.hover .text {
  color: var(--gray-700);
}

.button.focused.destructive-true.tertiary-color .text {
  color: var(--error-700);
}

.button.destructive-true.tertiary-color.disabled .text {
  color: var(--error-300);
}

.button.hover.destructive-true.link-color .text {
  color: var(--error-800);
}

.button.destructive-false.default.secondary-color .text {
  color: var(--primary-700);
}

.button.hover.destructive-true.secondary-color .text {
  color: var(--error-800);
}

.button.focused.destructive-true.secondary-gray .text {
  color: var(--error-700);
}

.button.focused.link-gray.destructive-true .text {
  color: var(--error-700);
}

.button.tertiary-gray.destructive-true.hover .text {
  color: var(--error-800);
}

.button.tertiary-gray.default.destructive-true .text {
  color: var(--error-700);
}

.button.focused.destructive-true.secondary-color .text {
  color: var(--error-700);
}

.button.destructive-false.link-gray.disabled .text {
  color: var(--gray-300);
}

.button.hover.destructive-false.link-color .text {
  color: var(--primary-800);
}

.button.focused.destructive-true.link-color .text {
  color: var(--error-700);
}

.button.secondary-gray.destructive-false.disabled .text {
  color: var(--gray-300);
}

.button.md .text-wrapper {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button.sm .text-wrapper {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.button.xl .text-wrapper {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button.lg .text-wrapper {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.button.two-xl .text-wrapper {
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
}

.button.primary .text-wrapper {
  color: var(--basewhite);
}

.button.destructive-false.default.link-gray .text-wrapper {
  color: var(--gray-600);
}

.button.default.destructive-true.link-gray .text-wrapper {
  color: var(--error-700);
}

.button.destructive-false.link-color.disabled .text-wrapper {
  color: var(--gray-300);
}

.button.secondary-gray.destructive-false.default .text-wrapper {
  color: var(--gray-700);
}

.button.secondary-gray.default.destructive-true .text-wrapper {
  color: var(--error-700);
}

.button.destructive-false.secondary-color.disabled .text-wrapper {
  color: var(--primary-300);
}

.button.focused.destructive-false.secondary-color .text-wrapper {
  color: var(--primary-700);
}

.button.destructive-false.tertiary-color.disabled .text-wrapper {
  color: var(--gray-300);
}

.button.tertiary-gray.destructive-true.disabled .text-wrapper {
  color: var(--error-300);
}

.button.tertiary-gray.destructive-false.disabled .text-wrapper {
  color: var(--gray-300);
}

.button.hover.destructive-false.secondary-color .text-wrapper {
  color: var(--primary-800);
}

.button.focused.tertiary-gray.destructive-false .text-wrapper {
  color: var(--gray-600);
}

.button.focused.tertiary-gray.destructive-true .text-wrapper {
  color: var(--error-700);
}

.button.hover.destructive-false.link-gray .text-wrapper {
  color: var(--gray-700);
}

.button.focused.destructive-false.tertiary-color .text-wrapper {
  color: var(--primary-700);
}

.button.secondary-gray.destructive-false.hover .text-wrapper {
  color: var(--gray-800);
}

.button.destructive-true.secondary-color.disabled .text-wrapper {
  color: var(--error-300);
}

.button.focused.destructive-false.link-color .text-wrapper {
  color: var(--primary-700);
}

.button.focused.destructive-false.secondary-gray .text-wrapper {
  color: var(--gray-700);
}

.button.hover.destructive-false.tertiary-color .text-wrapper {
  color: var(--primary-800);
}

.button.destructive-true.disabled.link-color .text-wrapper {
  color: var(--error-300);
}

.button.hover.link-gray.destructive-true .text-wrapper {
  color: var(--error-800);
}

.button.tertiary-color.default.destructive-false .text-wrapper {
  color: var(--primary-700);
}

.button.default.tertiary-color.destructive-true .text-wrapper {
  color: var(--error-700);
}

.button.focused.destructive-false.link-gray .text-wrapper {
  color: var(--gray-600);
}

.button.tertiary-gray.destructive-false.default .text-wrapper {
  color: var(--gray-600);
}

.button.secondary-gray.destructive-true.hover .text-wrapper {
  color: var(--error-800);
}

.button.default.destructive-true.link-color .text-wrapper {
  color: var(--error-700);
}

.button.default.destructive-false.link-color .text-wrapper {
  color: var(--primary-700);
}

.button.link-gray.destructive-true.disabled .text-wrapper {
  color: var(--error-300);
}

.button.default.destructive-true.secondary-color .text-wrapper {
  color: var(--error-700);
}

.button.secondary-gray.destructive-true.disabled .text-wrapper {
  color: var(--error-300);
}

.button.hover.destructive-true.tertiary-color .text-wrapper {
  color: var(--error-800);
}

.button.tertiary-gray.destructive-false.hover .text-wrapper {
  color: var(--gray-700);
}

.button.focused.destructive-true.tertiary-color .text-wrapper {
  color: var(--error-700);
}

.button.destructive-true.tertiary-color.disabled .text-wrapper {
  color: var(--error-300);
}

.button.hover.destructive-true.link-color .text-wrapper {
  color: var(--error-800);
}

.button.destructive-false.default.secondary-color .text-wrapper {
  color: var(--primary-700);
}

.button.hover.destructive-true.secondary-color .text-wrapper {
  color: var(--error-800);
}

.button.focused.destructive-true.secondary-gray .text-wrapper {
  color: var(--error-700);
}

.button.focused.link-gray.destructive-true .text-wrapper {
  color: var(--error-700);
}

.button.tertiary-gray.destructive-true.hover .text-wrapper {
  color: var(--error-800);
}

.button.tertiary-gray.default.destructive-true .text-wrapper {
  color: var(--error-700);
}

.button.focused.destructive-true.secondary-color .text-wrapper {
  color: var(--error-700);
}

.button.destructive-false.link-gray.disabled .text-wrapper {
  color: var(--gray-300);
}

.button.hover.destructive-false.link-color .text-wrapper {
  color: var(--primary-800);
}

.button.focused.destructive-true.link-color .text-wrapper {
  color: var(--error-700);
}

.button.secondary-gray.destructive-false.disabled .text-wrapper {
  color: var(--gray-300);
}
