:root {
	--background-blur-md: rgba(255, 255, 255, 0.543);
	--basewhite: rgba(255, 255, 255, 1);
	--body-body-1-font-family: "Inter-Regular", Helvetica;
	--body-body-1-font-size: 16px;
	--body-body-1-font-style: normal;
	--body-body-1-font-weight: 400;
	--body-body-1-letter-spacing: 0px;
	--body-body-1-line-height: 26px;
	--body-body-2-font-family: "Inter-Regular", Helvetica;
	--body-body-2-font-size: 14px;
	--body-body-2-font-style: normal;
	--body-body-2-font-weight: 400;
	--body-body-2-letter-spacing: 0px;
	--body-body-2-line-height: 24px;
	--dark: rgba(71, 84, 103, 1);
	--dark-shadow-2: -2px 4px 45px 0px rgba(0, 0, 0, 0.13);
	--default-white: rgba(255, 255, 255, 1);
	--display-lg-medium-font-family: "Inter-Medium", Helvetica;
	--display-lg-medium-font-size: 48px;
	--display-lg-medium-font-style: normal;
	--display-lg-medium-font-weight: 500;
	--display-lg-medium-letter-spacing: -0.96px;
	--display-lg-medium-line-height: 60px;
	--display-lg-semibold-font-family: "Inter-SemiBold", Helvetica;
	--display-lg-semibold-font-size: 48px;
	--display-lg-semibold-font-style: normal;
	--display-lg-semibold-font-weight: 600;
	--display-lg-semibold-letter-spacing: -0.96px;
	--display-lg-semibold-line-height: 60px;
	--display-md-semibold-font-family: "Inter-SemiBold", Helvetica;
	--display-md-semibold-font-size: 36px;
	--display-md-semibold-font-style: normal;
	--display-md-semibold-font-weight: 600;
	--display-md-semibold-letter-spacing: -0.72px;
	--display-md-semibold-line-height: 44px;
	--display-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
	--display-sm-semibold-font-size: 30px;
	--display-sm-semibold-font-style: normal;
	--display-sm-semibold-font-weight: 600;
	--display-sm-semibold-letter-spacing: 0px;
	--display-sm-semibold-line-height: 38px;
	--display-xl-semibold-font-family: "Inter-SemiBold", Helvetica;
	--display-xl-semibold-font-size: 60px;
	--display-xl-semibold-font-style: normal;
	--display-xl-semibold-font-weight: 600;
	--display-xl-semibold-letter-spacing: -1.2px;
	--display-xl-semibold-line-height: 72px;
	--error-100: rgba(254, 228, 226, 1);
	--error-200: rgba(254, 205, 202, 1);
	--error-25: rgba(255, 251, 250, 1);
	--error-300: rgba(253, 162, 155, 1);
	--error-50: rgba(254, 243, 242, 1);
	--error-500: rgba(240, 68, 56, 1);
	--error-600: rgba(217, 45, 32, 1);
	--error-700: rgba(180, 35, 24, 1);
	--error-800: rgba(145, 32, 24, 1);
	--focus-ring-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1);
	--focus-ring-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1);
	--gray-100: rgba(242, 244, 247, 1);
	--gray-200: rgba(234, 236, 240, 1);
	--gray-300: rgba(208, 213, 221, 1);
	--gray-50: rgba(249, 250, 251, 1);
	--gray-500: rgba(102, 112, 133, 1);
	--gray-600: rgba(71, 84, 103, 1);
	--gray-700: rgba(52, 64, 84, 1);
	--gray-800: rgba(29, 41, 57, 1);
	--gray-900: rgba(16, 24, 40, 1);
	--grey-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
	--heading-h2-font-family: "Inter-ExtraBold", Helvetica;
	--heading-h2-font-size: 48px;
	--heading-h2-font-style: normal;
	--heading-h2-font-weight: 800;
	--heading-h2-letter-spacing: 0px;
	--heading-h2-line-height: 64px;
	--lead-lead-1-font-family: "Inter-Regular", Helvetica;
	--lead-lead-1-font-size: 18px;
	--lead-lead-1-font-style: normal;
	--lead-lead-1-font-weight: 400;
	--lead-lead-1-letter-spacing: 0px;
	--lead-lead-1-line-height: 32px;
	--light: rgba(255, 255, 255, 0.8);
	--light-gray: rgba(138, 148, 153, 1);
	--mobile-mockup-shadow: 10px 15px 30px 0px rgba(41, 41, 42, 0.5);
	--orange: rgba(237, 97, 41, 1);
	--primary-100: rgba(244, 235, 255, 1);
	--primary-200: rgba(233, 215, 254, 1);
	--primary-25: rgba(252, 250, 255, 1);
	--primary-300: rgba(214, 187, 251, 1);
	--primary-50: rgba(249, 245, 255, 1);
	--primary-600: rgba(127, 86, 217, 1);
	--primary-700: rgba(105, 65, 198, 1);
	--primary-800: rgba(83, 56, 158, 1);
	--shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
		0px 12px 16px -4px rgba(16, 24, 40, 0.08);
	--shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
		0px 20px 24px -4px rgba(16, 24, 40, 0.08);
	--shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	--shadow-xs-focused-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1),
		0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	--shadow-xs-focused-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1),
		0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	--shadow-xs-focused-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1),
		0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	--subtitle-subtitle-2-font-family: "Inter-Medium", Helvetica;
	--subtitle-subtitle-2-font-size: 18px;
	--subtitle-subtitle-2-font-style: normal;
	--subtitle-subtitle-2-font-weight: 500;
	--subtitle-subtitle-2-letter-spacing: 0px;
	--subtitle-subtitle-2-line-height: 28px;
	--success-100: rgba(209, 250, 223, 1);
	--success-50: rgba(236, 253, 243, 1);
	--success-500: rgba(18, 183, 106, 1);
	--success-600: rgba(3, 152, 85, 1);
	--text-gray-100: rgba(244, 245, 247, 1);
	--text-gray-300: rgba(217, 219, 225, 1);
	--text-gray-900: rgba(24, 25, 31, 1);
	--text-lg-regular-font-family: "Inter-Regular", Helvetica;
	--text-lg-regular-font-size: 18px;
	--text-lg-regular-font-style: normal;
	--text-lg-regular-font-weight: 400;
	--text-lg-regular-letter-spacing: 0px;
	--text-lg-regular-line-height: 28px;
	--text-lg-semibold-font-family: "Inter-SemiBold", Helvetica;
	--text-lg-semibold-font-size: 18px;
	--text-lg-semibold-font-style: normal;
	--text-lg-semibold-font-weight: 600;
	--text-lg-semibold-letter-spacing: 0px;
	--text-lg-semibold-line-height: 28px;
	--text-md-medium-font-family: "Inter-Medium", Helvetica;
	--text-md-medium-font-size: 16px;
	--text-md-medium-font-style: normal;
	--text-md-medium-font-weight: 500;
	--text-md-medium-letter-spacing: 0px;
	--text-md-medium-line-height: 24px;
	--text-md-regular-font-family: "Inter-Regular", Helvetica;
	--text-md-regular-font-size: 16px;
	--text-md-regular-font-style: normal;
	--text-md-regular-font-weight: 400;
	--text-md-regular-letter-spacing: 0px;
	--text-md-regular-line-height: 24px;
	--text-md-semibold-font-family: "Inter-SemiBold", Helvetica;
	--text-md-semibold-font-size: 16px;
	--text-md-semibold-font-style: normal;
	--text-md-semibold-font-weight: 600;
	--text-md-semibold-letter-spacing: 0px;
	--text-md-semibold-line-height: 24px;
	--text-sm-medium-font-family: "Inter-Medium", Helvetica;
	--text-sm-medium-font-size: 14px;
	--text-sm-medium-font-style: normal;
	--text-sm-medium-font-weight: 500;
	--text-sm-medium-letter-spacing: 0px;
	--text-sm-medium-line-height: 20px;
	--text-sm-regular-font-family: "Inter-Regular", Helvetica;
	--text-sm-regular-font-size: 14px;
	--text-sm-regular-font-style: normal;
	--text-sm-regular-font-weight: 400;
	--text-sm-regular-letter-spacing: 0px;
	--text-sm-regular-line-height: 20px;
	--text-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
	--text-sm-semibold-font-size: 14px;
	--text-sm-semibold-font-style: normal;
	--text-sm-semibold-font-weight: 600;
	--text-sm-semibold-letter-spacing: 0px;
	--text-sm-semibold-line-height: 20px;
	--text-xl-regular-font-family: "Inter-Regular", Helvetica;
	--text-xl-regular-font-size: 20px;
	--text-xl-regular-font-style: normal;
	--text-xl-regular-font-weight: 400;
	--text-xl-regular-letter-spacing: 0px;
	--text-xl-regular-line-height: 30px;
	--text-xl-semibold-font-family: "Inter-SemiBold", Helvetica;
	--text-xl-semibold-font-size: 20px;
	--text-xl-semibold-font-style: normal;
	--text-xl-semibold-font-weight: 600;
	--text-xl-semibold-letter-spacing: 0px;
	--text-xl-semibold-line-height: 30px;
	--text-xs-medium-font-family: "Inter-Medium", Helvetica;
	--text-xs-medium-font-size: 12px;
	--text-xs-medium-font-style: normal;
	--text-xs-medium-font-weight: 500;
	--text-xs-medium-letter-spacing: 0px;
	--text-xs-medium-line-height: 18px;
	--text-xs-semibold-font-family: "Inter-SemiBold", Helvetica;
	--text-xs-semibold-font-size: 12px;
	--text-xs-semibold-font-style: normal;
	--text-xs-semibold-font-weight: 600;
	--text-xs-semibold-letter-spacing: 0px;
	--text-xs-semibold-line-height: 18px;
	--warning-100: rgba(254, 240, 199, 1);
	--warning-50: rgba(255, 250, 235, 1);
	--warning-500: rgba(247, 144, 9, 1);
	--warning-600: rgba(220, 104, 3, 1);
	--white: rgba(255, 255, 255, 1);
}


.no-select {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
																supported by Chrome, Edge, Opera and Firefox */
}