.screen {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.screen .desktop {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.screen .overlap-group-6 {
  height: 1024px;
  position: relative;
}

.screen .mask-group {
  height: 962px;
  left: 654px;
  position: absolute;
  top: 62px;
  width: 786px;
}

.screen .presentation-slide {
  height: 945px;
  left: 509px;
  position: absolute;
  top: 79px;
  width: 931px;
}

.screen .frame-30 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 60px;
  left: 112px;
  position: absolute;
  top: 320px;
}

.screen .heading-and {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 301px;
  position: relative;
  width: 493px;
}

.screen .heading {
  color: transparent;
  font-family: var(--display-xl-semibold-font-family);
  font-size: var(--display-xl-semibold-font-size);
  font-style: var(--display-xl-semibold-font-style);
  font-weight: var(--display-xl-semibold-font-weight);
  letter-spacing: var(--display-xl-semibold-letter-spacing);
  line-height: var(--display-xl-semibold-line-height);
  margin-top: -1px;
  position: relative;
  width: 493px;
}

.screen .span {
  color: #0f1728;
  font-family: var(--display-xl-semibold-font-family);
  font-size: var(--display-xl-semibold-font-size);
  font-style: var(--display-xl-semibold-font-style);
  font-weight: var(--display-xl-semibold-font-weight);
  letter-spacing: var(--display-xl-semibold-letter-spacing);
  line-height: var(--display-xl-semibold-line-height);
}

.screen .text-wrapper-19 {
  color: #ed6129;
  font-family: var(--display-xl-semibold-font-family);
  font-size: var(--display-xl-semibold-font-size);
  font-style: var(--display-xl-semibold-font-style);
  font-weight: var(--display-xl-semibold-font-weight);
  letter-spacing: var(--display-xl-semibold-letter-spacing);
  line-height: var(--display-xl-semibold-line-height);
}

.screen .supporting-text-2 {
  color: var(--gray-600);
  font-family: var(--text-xl-regular-font-family);
  font-size: var(--text-xl-regular-font-size);
  font-style: var(--text-xl-regular-font-style);
  font-weight: var(--text-xl-regular-font-weight);
  height: max-content;
  letter-spacing: var(--text-xl-regular-letter-spacing);
  line-height: var(--text-xl-regular-line-height);
  margin-bottom: 14px;
  position: relative;
  width: 480px;
}

.screen .frame-31 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.screen .actions {
  all: unset;
  align-items: flex-start;
  border-radius: 46px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.screen .button-6 {
  all: unset;
  align-items: center;
  background-color: var(--orange);
  border-radius: 72px;
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 28px;
  position: relative;
  width: 200px;
}

.screen .text-17 {
  color: var(--white);
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .text-18 {
  color: var(--gray-600);
  font-family: var(--text-md-medium-font-family);
  font-size: var(--text-md-medium-font-size);
  font-style: var(--text-md-medium-font-style);
  font-weight: var(--text-md-medium-font-weight);
  letter-spacing: var(--text-md-medium-letter-spacing);
  line-height: var(--text-md-medium-line-height);
  position: relative;
  width: 246px;
}

.screen .group-3 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.screen .group-instance {
  background-color: transparent !important;
}

.screen .icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.screen .logo-clouds {
  align-items: flex-start;
  background-color: var(--text-gray-100);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  padding: 59px 165px;
  position: relative;
  width: 1440px;
}

.screen .section-heading-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.screen .design-component-instance-node {
  flex: 0 0 auto !important;
}

.screen .description-2 {
  align-self: stretch;
  color: var(--text-gray-900);
  font-family: var(--lead-lead-1-font-family);
  font-size: var(--lead-lead-1-font-size);
  font-style: var(--lead-lead-1-font-style);
  font-weight: var(--lead-lead-1-font-weight);
  letter-spacing: var(--lead-lead-1-letter-spacing);
  line-height: var(--lead-lead-1-line-height);
  position: relative;
  text-align: center;
}

.screen .logos {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.screen .group-2 {
  height: 96px;
  position: relative;
  width: 1140px;
}

.screen .col {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .airbnb-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  position: relative;
  width: 170px;
}

.screen .airbnb-logo-2 {
  height: 32px;
  left: 33px;
  position: absolute;
  top: 31px;
  width: 103px;
}

.screen .google-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  left: 194px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen .google-logo-2 {
  height: 32px;
  left: 37px;
  position: absolute;
  top: 31px;
  width: 95px;
}

.screen .bookmyshow-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  left: 388px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen .bookmyshow-logo-2 {
  height: 37px;
  left: 23px;
  position: absolute;
  top: 29px;
  width: 123px;
}

.screen .microsoft-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  left: 582px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen .microsoft-logo-2 {
  height: 26px;
  left: 23px;
  position: absolute;
  top: 34px;
  width: 122px;
}

.screen .fedex-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  left: 776px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen .fedex-logo-2 {
  height: 30px;
  left: 34px;
  position: absolute;
  top: 32px;
  width: 100px;
}

.screen .walmart-logo {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ed6129;
  border-radius: 16px;
  box-shadow: 0px 30px 40px #d4d9e833;
  height: 96px;
  left: 970px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen .walmart-logo-2 {
  height: 28px;
  left: 24px;
  position: absolute;
  top: 33px;
  width: 120px;
}

.screen .desktop-2 {
  background-color: #ffffff;
  height: 852px;
  position: relative;
  width: 1440px;
}

.screen .frame-32 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
  left: 378px;
  position: absolute;
  top: 518px;
  width: 720px;
}

.screen .button-7 {
  align-items: center;
  background-color: #ed61291a;
  border-radius: 72px;
  box-shadow: var(--shadow-xs);
  display: inline-flex;
  gap: 12px;
  height: 37px;
  overflow: hidden;
  padding: 16px 28px;
  position: relative;
}

.screen .text-19 {
  color: var(--orange);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -10.5px;
  margin-top: -12.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .text-wrapper-20 {
  align-self: stretch;
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  height: 60px;
  letter-spacing: -1.5px;
  line-height: 70.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.screen .lorem-ipsum-is-2 {
  align-self: stretch;
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.screen .button-8 {
  all: unset;
  align-items: center;
  background-color: var(--orange);
  border-radius: 72px;
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 28px;
  position: relative;
  width: 200px;
}

.screen .text-20 {
  color: var(--white);
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  margin-bottom: -4px;
  margin-top: -6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .OBJECTS {
  height: 392px;
  left: 411px;
  position: absolute;
  top: 98px;
  width: 655px;
}

.screen .testimonial-section {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  padding: 96px 0px;
  position: relative;
  width: 1440px;
}

.screen .content-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 0px 32px;
  position: relative;
  width: 1280px;
}

.screen .quote-and-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.screen .quote-and {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.screen .quote {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--display-lg-medium-font-family);
  font-size: var(--display-lg-medium-font-size);
  font-style: var(--display-lg-medium-font-style);
  font-weight: var(--display-lg-medium-font-weight);
  letter-spacing: var(--display-lg-medium-letter-spacing);
  line-height: var(--display-lg-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.screen .avatar-and-text {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.screen .avatar-3 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 200px;
  height: 64px;
  position: relative;
  width: 64px;
}

.screen .div-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.screen .text-21 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.screen .supporting-text-3 {
  align-self: stretch;
  color: var(--gray-600);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  position: relative;
  text-align: center;
}

.screen .rectangle {
  background-color: #ed61291a;
  height: 484px;
  left: -112px;
  position: absolute;
  top: -98px;
  width: 1440px;
}

.screen .component-2 {
  background-color: #ffffff;
  height: 846px;
  position: relative;
  width: 1440px;
}

.screen .frame-33 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 21px;
  left: 835px;
  position: absolute;
  top: 275px;
}

.screen .text-wrapper-21 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 66px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .text-wrapper-22 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 493px;
}

.screen .actions-2 {
  all: unset;
  align-items: flex-start;
  border-radius: 46px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  height: 50px;
  position: relative;
}

.screen .frame-34 {
  height: 520px;
  left: 104px;
  position: absolute;
  top: 163px;
  width: 591px;
}

.screen .overlap-wrapper {
  background-color: #ffffff;
  height: 611px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.screen .overlap-2 {
  background-color: #ed61291a;
  height: 612px;
  position: relative;
}

.screen .header-copy-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 165px;
  position: absolute;
  top: 189px;
}

.screen .header-copy {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.screen .text-wrapper-23 {
  color: var(--text-gray-900);
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 98px;
  margin-top: -1px;
  position: relative;
  width: 540px;
}

.screen .text-wrapper-24 {
  color: var(--text-gray-900);
  font-family: var(--lead-lead-1-font-family);
  font-size: var(--lead-lead-1-font-size);
  font-style: var(--lead-lead-1-font-style);
  font-weight: var(--lead-lead-1-font-weight);
  letter-spacing: var(--lead-lead-1-letter-spacing);
  line-height: var(--lead-lead-1-line-height);
  position: relative;
  width: 540px;
}

.screen .right-nav {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.screen .design-component-instance-node-2 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.screen .mock-creative {
  height: 400px;
  left: 743px;
  position: absolute;
  top: 106px;
  width: 548px;
}

.screen .overlap-group-7 {
  height: 400px;
  position: relative;
}

.screen .mobile-mockup {
  height: 400px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 400px;
}

.screen .card {
  align-items: center;
  background-color: var(--default-white);
  border-radius: 8px;
  box-shadow: var(--dark-shadow-2);
  display: inline-flex;
  gap: 12px;
  left: 0;
  overflow: hidden;
  padding: 12px;
  position: absolute;
  top: 16px;
}

.screen .img-2 {
  height: 48px;
  object-fit: cover;
  position: relative;
  width: 48px;
}

.screen .frame-35 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.screen .text-wrapper-25 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .text-wrapper-26 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .card-2 {
  align-items: center;
  background-color: var(--default-white);
  border-radius: 8px;
  box-shadow: var(--dark-shadow-2);
  display: inline-flex;
  gap: 12px;
  left: 244px;
  overflow: hidden;
  padding: 12px;
  position: absolute;
  top: 312px;
}

.screen .component-3 {
  background-color: #ffffff;
  height: 1123px;
  position: relative;
  width: 1440px;
}

.screen .group-4 {
  height: 670px;
  left: 311px;
  position: absolute;
  top: 350px;
  width: 937px;
}

.screen .overlap-3 {
  height: 670px;
  position: relative;
}

.screen .overlap-4 {
  height: 670px;
  left: 0;
  position: absolute;
  top: 0;
  width: 833px;
}

.screen .OBJECTS-2 {
  height: 556px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 400px;
}

.screen .overlap-5 {
  height: 556px;
  position: relative;
}

.screen .overlap-group-8 {
  height: 556px;
  left: 0;
  position: absolute;
  top: 0;
  width: 314px;
}

.screen .group-5 {
  height: 496px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 243px;
}

.screen .group-6 {
  height: 63px;
  left: 198px;
  position: absolute;
  top: 0;
  width: 116px;
}

.screen .group-7 {
  height: 63px;
  left: 198px;
  position: absolute;
  top: 493px;
  width: 116px;
}

.screen .text-wrapper-27 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  height: 66px;
  left: 65px;
  letter-spacing: -1px;
  line-height: 66px;
  position: absolute;
  top: 73px;
  white-space: nowrap;
}

.screen .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  height: 66px;
  left: 160px;
  letter-spacing: -1px;
  line-height: 66px;
  position: absolute;
  top: 243px;
  white-space: nowrap;
}

.screen .text-wrapper-29 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  height: 66px;
  left: 66px;
  letter-spacing: -1px;
  line-height: 66px;
  position: absolute;
  top: 403px;
  white-space: nowrap;
}

.screen .work-flow {
  color: var(--orange);
  font-family: "Inter", Helvetica;
  font-size: 36.4px;
  font-weight: 700;
  height: 88px;
  left: 0;
  letter-spacing: -1.21px;
  line-height: 43.7px;
  position: absolute;
  top: 233px;
}

.screen .group-8 {
  height: 13px;
  left: 285px;
  position: absolute;
  top: 271px;
  width: 115px;
}

.screen .frame-36 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 17px;
  left: 376px;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-30 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 0.1px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.screen .text-wrapper-31 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24.5px;
  position: relative;
  width: 457px;
}

.screen .read-more {
  color: var(--orange);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 31px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-37 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 17px;
  left: 376px;
  position: absolute;
  top: 556px;
}

.screen .frame-38 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 17px;
  left: 480px;
  position: absolute;
  top: 271px;
}

.screen .frame-39 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 21px;
  left: 112px;
  position: absolute;
  top: 66px;
}

.screen .button-9 {
  all: unset;
  align-items: center;
  background-color: #ed61291a;
  border-radius: 72px;
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  height: 37px;
  overflow: hidden;
  padding: 16px 28px;
  position: relative;
}

.screen .lorem-ipsum-is-3 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 1026px;
}

.screen .metrics-section-wrapper {
  background-color: #ffffff;
  height: 614px;
  position: relative;
  width: 1440px;
}

.screen .metrics-section {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 96px 0px;
  position: relative;
  width: 1440px;
}

.screen .heading-and-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.screen .heading-and-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 768px;
}

.screen .heading-and-icon {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.screen .featured-icon {
  background-color: var(--orange) !important;
}

.screen .zap-fast {
  height: 28px !important;
  left: 14px !important;
  position: absolute !important;
  top: 14px !important;
  width: 28px !important;
}

.screen .heading-2 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
  position: relative;
  text-align: center;
}

.screen .supporting-text-4 {
  align-self: stretch;
  color: var(--gray-600);
  font-family: var(--text-xl-regular-font-family);
  font-size: var(--text-xl-regular-font-size);
  font-style: var(--text-xl-regular-font-style);
  font-weight: var(--text-xl-regular-font-weight);
  letter-spacing: var(--text-xl-regular-letter-spacing);
  line-height: var(--text-xl-regular-line-height);
  position: relative;
  text-align: center;
}

.screen .container-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  padding: 0px 32px;
  position: relative;
  width: 1280px;
}

.screen .content-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.screen .metric-item {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--dark);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  padding: 24px;
  position: relative;
}

.screen .content-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.screen .number {
  align-self: stretch;
  color: var(--dark);
  font-family: var(--display-lg-semibold-font-family);
  font-size: var(--display-lg-semibold-font-size);
  font-style: var(--display-lg-semibold-font-style);
  font-weight: var(--display-lg-semibold-font-weight);
  letter-spacing: var(--display-lg-semibold-letter-spacing);
  line-height: var(--display-lg-semibold-line-height);
  margin-top: -1px;
  position: relative;
}

.screen .text-22 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  position: relative;
}

.screen .button-10 {
  color: var(--dark) !important;
}

.screen .FAQ-section {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 1110px;
  padding: 96px 0px;
  position: relative;
  width: 1440px;
}

.screen .heading-3 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.screen .feature-text {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.screen .text-and-supporting {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.screen .text-23 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--text-xl-semibold-font-family);
  font-size: var(--text-xl-semibold-font-size);
  font-style: var(--text-xl-semibold-font-style);
  font-weight: var(--text-xl-semibold-font-weight);
  letter-spacing: var(--text-xl-semibold-letter-spacing);
  line-height: var(--text-xl-semibold-line-height);
  margin-top: -1px;
  position: relative;
}

.screen .supporting-text-5 {
  align-self: stretch;
  color: var(--gray-600);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  position: relative;
}

.screen .feature-text-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.screen .container-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  margin-bottom: -86px;
  padding: 0px 32px;
  position: relative;
  width: 1280px;
}

.screen .content-9 {
  align-items: center;
  align-self: stretch;
  background-color: var(--gray-50);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 32px;
  position: relative;
  width: 100%;
}

.screen .frame-40 {
  height: 276px;
  position: relative;
  width: 276px;
}

.screen .heading-and-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 17px;
  position: relative;
  width: 768px;
}

.screen .heading-4 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: var(--text-xl-semibold-font-family);
  font-size: var(--text-xl-semibold-font-size);
  font-style: var(--text-xl-semibold-font-style);
  font-weight: var(--text-xl-semibold-font-weight);
  letter-spacing: var(--text-xl-semibold-letter-spacing);
  line-height: var(--text-xl-semibold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.screen .supporting-text-6 {
  color: var(--gray-600);
  font-family: var(--text-lg-regular-font-family);
  font-size: var(--text-lg-regular-font-size);
  font-style: var(--text-lg-regular-font-style);
  font-weight: var(--text-lg-regular-font-weight);
  letter-spacing: var(--text-lg-regular-letter-spacing);
  line-height: var(--text-lg-regular-line-height);
  position: relative;
  text-align: center;
  width: 768px;
}

.screen .actions-3 {
  align-items: flex-start;
  border-radius: 46px;
  display: inline-flex;
  gap: 12px;
  height: 50px;
  position: relative;
}

.screen .newsletter-CTA {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px;
  position: relative;
  width: 1440px;
}

.screen .background-overlap {
  background-color: var(--gray-800);
  height: 200px;
  left: 0;
  position: absolute;
  top: 230px;
  width: 1440px;
}

.screen .content-10 {
  align-items: center;
  align-self: stretch;
  background-color: var(--gray-50);
  border-radius: 16px;
  box-shadow: var(--shadow-xl);
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  padding: 64px;
  position: relative;
  width: 100%;
}

.screen .heading-and-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  position: relative;
}

.screen .heading-5 {
  align-self: stretch;
  color: var(--dark);
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
  margin-top: -1px;
  position: relative;
}

.screen .supporting-text-7 {
  align-self: stretch;
  color: var(--gray-600);
  font-family: var(--text-xl-regular-font-family);
  font-size: var(--text-xl-regular-font-size);
  font-style: var(--text-xl-regular-font-style);
  font-weight: var(--text-xl-regular-font-weight);
  letter-spacing: var(--text-xl-regular-letter-spacing);
  line-height: var(--text-xl-regular-line-height);
  position: relative;
}

.screen .email-capture {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.screen .input-field-instance {
  width: 360px !important;
}

.screen .input-field-2 {
  border-color: var(--orange) !important;
  border-radius: 59px !important;
  padding: 12px 23px !important;
}

.screen .component-4 {
  background-color: var(--gray-800);
  height: 303px;
  position: relative;
  width: 1440px;
}

.screen .download-badges {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 1115px;
  position: absolute;
  top: 56px;
}

.screen .text-wrapper-32 {
  color: var(--text-gray-300);
  font-family: var(--subtitle-subtitle-2-font-family);
  font-size: var(--subtitle-subtitle-2-font-size);
  font-style: var(--subtitle-subtitle-2-font-style);
  font-weight: var(--subtitle-subtitle-2-font-weight);
  letter-spacing: var(--subtitle-subtitle-2-letter-spacing);
  line-height: var(--subtitle-subtitle-2-line-height);
  margin-top: -1px;
  position: relative;
  width: 160px;
}

.screen .left-section {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 165px;
  position: absolute;
  top: 56px;
}

.screen .image-3 {
  height: 39px;
  object-fit: cover;
  position: relative;
  width: 119px;
}

.screen .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.screen .links-row {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.screen .text-wrapper-33 {
  color: var(--default-white);
  font-family: var(--body-body-1-font-family);
  font-size: var(--body-body-1-font-size);
  font-style: var(--body-body-1-font-style);
  font-weight: var(--body-body-1-font-weight);
  letter-spacing: var(--body-body-1-letter-spacing);
  line-height: var(--body-body-1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .navigation-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.screen .button-11 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.screen .text-24 {
  color: var(--white);
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .button-instance-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 4px 0px;
  position: relative;
}

.screen .button-12 {
  color: var(--white) !important;
}

.screen .text-wrapper-34 {
  color: var(--text-gray-300);
  font-family: var(--body-body-2-font-family);
  font-size: var(--body-body-2-font-size);
  font-style: var(--body-body-2-font-style);
  font-weight: var(--body-body-2-font-weight);
  letter-spacing: var(--body-body-2-letter-spacing);
  line-height: var(--body-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
