.component {
  background-color: #ffffff;
  height: 1230px;
  position: relative;
  width: 1440px;
}

.component .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 21px;
  left: 112px;
  position: absolute;
  top: 87px;
}

.component .button-5 {
  align-items: center;
  background-color: #ed61291a;
  border-radius: 72px;
  box-shadow: var(--shadow-xs);
  display: inline-flex;
  gap: 12px;
  height: 37px;
  overflow: hidden;
  padding: 16px 28px;
  position: relative;
}

.component .text-5 {
  color: var(--orange);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -10.5px;
  margin-top: -12.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .text-wrapper-6 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 66px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .lorem-ipsum-is {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 1026px;
}

.component .frame-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 112px;
  position: absolute;
  top: 529px;
  width: 465px;
}

.component .div-2 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 66px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component .div-3 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 465px;
}

.component .frame-21 {
  align-items: flex-start;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 112px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .frame-22 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
}

.component .instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.component .text-wrapper-7 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-8 {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-23 {
  align-items: flex-start;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 424px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .text-wrapper-9 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-10 {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-24 {
  align-items: flex-start;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 736px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .text-wrapper-11 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-12 {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 529px;
  width: 465px;
}

.component .frame-26 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 112px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .text-wrapper-13 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-14 {
  color: var(--dark);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-27 {
  align-items: flex-start;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 424px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .text-wrapper-15 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-16 {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-28 {
  align-items: flex-start;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 736px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .text-wrapper-17 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 23px;
  letter-spacing: 0;
  line-height: 38.4px;
  position: relative;
  white-space: nowrap;
  width: 118px;
}

.component .text-wrapper-18 {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 73px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  width: 246px;
}

.component .frame-29 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 9px;
  left: 1048px;
  overflow: hidden;
  padding: 17px;
  position: absolute;
  top: 942px;
}

.component .purple-circle {
  background-color: var(--orange);
  height: 498px;
  position: absolute;
  top: 351px;
}

.component .web-preview {
  height: 374px;
  object-fit: cover;
  position: absolute;
  top: 2470px;
}

.component .overlap-group-3 {
  height: 498px;
  left: 876px;
  position: absolute;
  top: 351px;
  width: 564px;
}

.component .purple-circle-2 {
  background-color: var(--orange);
  border-radius: 249px;
  height: 498px;
  left: 0;
  position: absolute;
  top: 0;
  width: 498px;
}

.component .web-preview-2 {
  height: 414px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 457px;
}

.component.property-1-5-variant-4 {
  overflow: hidden;
}

.component.property-1-5-desktop-2 {
  overflow: hidden;
}

.component.property-1-5-variant-5 .frame-21 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-variant-3 .frame-21 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-desktop-1 .frame-21 {
  background-color: var(--orange);
}

.component.property-1-5-variant-4 .text-wrapper-7 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-7 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-7 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-7 {
  color: #ffffff;
}

.component.property-1-5-desktop-2 .text-wrapper-7 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-8 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-8 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-8 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-8 {
  color: #ffffffcc;
}

.component.property-1-5-desktop-2 .text-wrapper-8 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .frame-23 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-variant-3 .frame-23 {
  background-color: var(--orange);
}

.component.property-1-5-desktop-1 .frame-23 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-9 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-9 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-9 {
  color: var(--white);
}

.component.property-1-5-desktop-1 .text-wrapper-9 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-9 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-10 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-10 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-10 {
  color: #ffffffcc;
}

.component.property-1-5-desktop-1 .text-wrapper-10 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-10 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .frame-24 {
  background-color: var(--orange);
}

.component.property-1-5-variant-3 .frame-24 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-desktop-1 .frame-24 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-11 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-11 {
  color: var(--white);
}

.component.property-1-5-variant-3 .text-wrapper-11 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-11 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-11 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-12 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-12 {
  color: var(--white);
}

.component.property-1-5-variant-3 .text-wrapper-12 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-12 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-12 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .frame-25 {
  left: -482px;
}

.component.property-1-5-variant-5 .frame-25 {
  left: -447px;
}

.component.property-1-5-variant-3 .frame-25 {
  left: -447px;
}

.component.property-1-5-desktop-1 .frame-25 {
  left: -447px;
}

.component.property-1-5-desktop-2 .frame-25 {
  left: -447px;
  opacity: 0.2;
}

.component.property-1-5-variant-4 .frame-27 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-desktop-2 .frame-27 {
  background-color: var(--orange);
}

.component.property-1-5-variant-4 .text-wrapper-15 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-15 {
  color: var(--white);
}

.component.property-1-5-variant-3 .text-wrapper-15 {
  color: var(--white);
}

.component.property-1-5-desktop-1 .text-wrapper-15 {
  color: var(--white);
}

.component.property-1-5-desktop-2 .text-wrapper-15 {
  color: var(--white);
}

.component.property-1-5-variant-4 .text-wrapper-16 {
  color: var(--dark);
}

.component.property-1-5-variant-5 .text-wrapper-16 {
  color: #ffffffcc;
}

.component.property-1-5-variant-3 .text-wrapper-16 {
  color: #ffffffcc;
}

.component.property-1-5-desktop-1 .text-wrapper-16 {
  color: #ffffffcc;
}

.component.property-1-5-desktop-2 .text-wrapper-16 {
  color: #ffffffcc;
}

.component.property-1-5-variant-4 .frame-28 {
  background-color: var(--orange);
}

.component.property-1-5-desktop-2 .frame-28 {
  border: 1px solid;
  border-color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-17 {
  color: var(--white);
}

.component.property-1-5-variant-5 .text-wrapper-17 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-17 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-17 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-17 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .text-wrapper-18 {
  color: var(--white);
}

.component.property-1-5-variant-5 .text-wrapper-18 {
  color: var(--dark);
}

.component.property-1-5-variant-3 .text-wrapper-18 {
  color: var(--dark);
}

.component.property-1-5-desktop-1 .text-wrapper-18 {
  color: var(--dark);
}

.component.property-1-5-desktop-2 .text-wrapper-18 {
  color: var(--dark);
}

.component.property-1-5-variant-4 .purple-circle {
  border-radius: 249px;
  left: 1455px;
  width: 498px;
}

.component.property-1-5-variant-5 .purple-circle {
  border-radius: 254px/249px;
  left: 1448px;
  width: 508px;
}

.component.property-1-5-variant-3 .purple-circle {
  border-radius: 254px/249px;
  left: 1448px;
  width: 508px;
}

.component.property-1-5-desktop-1 .purple-circle {
  border-radius: 254px/249px;
  left: 1448px;
  width: 508px;
}

.component.property-1-5-desktop-2 .purple-circle {
  border-radius: 254px/249px;
  left: 1448px;
  width: 508px;
}

.component.property-1-5-variant-4 .web-preview {
  left: -1352px;
  width: 598px;
}

.component.property-1-5-variant-5 .web-preview {
  left: 2879px;
  width: 608px;
}

.component.property-1-5-variant-3 .web-preview {
  left: 2879px;
  width: 608px;
}

.component.property-1-5-desktop-1 .web-preview {
  left: 2879px;
  width: 608px;
}

.component.property-1-5-desktop-2 .web-preview {
  left: 2879px;
  width: 608px;
}
