.input-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.input-field .input-with-label {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.input-field .label {
  color: var(--gray-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .input {
  align-self: stretch;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.input-field .content-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.input-field .instance-node-2 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.input-field .payment-method-icon {
  position: relative;
}

.input-field .mastercard {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/left-13.svg);
  background-size: 100% 100%;
  height: 13px;
  left: 6px;
  position: relative;
  top: 5px;
  width: 22px;
}

.input-field .overlap-group-5 {
  height: 13px;
  left: 9px;
  position: relative;
  width: 14px;
}

.input-field .right-2 {
  height: 13px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 11px;
}

.input-field .middle {
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 5px;
}

.input-field .tag {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--gray-300);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3px;
  justify-content: center;
  padding: 2px 4px 2px 5px;
  position: relative;
}

.input-field .content-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.input-field .avatar {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-24@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.input-field .text-6 {
  color: var(--gray-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.input-field .tag-x-close {
  align-items: flex-start;
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  padding: 2px;
  position: relative;
}

.input-field .x-close {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.input-field .avatar-2 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.input-field .text-7 {
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.input-field .class {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-91.svg) !important;
  position: relative !important;
}

.input-field .class-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-90.svg) !important;
  position: relative !important;
}

.input-field .class-3 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-89.svg) !important;
  position: relative !important;
}

.input-field .class-4 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-88.svg) !important;
  position: relative !important;
}

.input-field .class-5 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-87.svg) !important;
  position: relative !important;
}

.input-field .class-6 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-86.svg) !important;
  position: relative !important;
}

.input-field .class-7 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-85.svg) !important;
  position: relative !important;
}

.input-field .class-8 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-84.svg) !important;
  position: relative !important;
}

.input-field .class-9 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-83.svg) !important;
  position: relative !important;
}

.input-field .class-10 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-82.svg) !important;
  position: relative !important;
}

.input-field .class-11 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-81.svg) !important;
  position: relative !important;
}

.input-field .class-12 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-80.svg) !important;
  position: relative !important;
}

.input-field .class-13 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-79.svg) !important;
  position: relative !important;
}

.input-field .class-14 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-78.svg) !important;
  position: relative !important;
}

.input-field .class-15 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-77.svg) !important;
  position: relative !important;
}

.input-field .class-16 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-76.svg) !important;
  position: relative !important;
}

.input-field .class-17 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-75.svg) !important;
  position: relative !important;
}

.input-field .class-18 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-74.svg) !important;
  position: relative !important;
}

.input-field .class-19 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-73.svg) !important;
  position: relative !important;
}

.input-field .class-20 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-72.svg) !important;
  position: relative !important;
}

.input-field .class-21 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-71.svg) !important;
  position: relative !important;
}

.input-field .class-22 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-70.svg) !important;
  position: relative !important;
}

.input-field .class-23 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-69.svg) !important;
  position: relative !important;
}

.input-field .class-24 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-68.svg) !important;
  position: relative !important;
}

.input-field .class-25 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-67.svg) !important;
  position: relative !important;
}

.input-field .class-26 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-66.svg) !important;
  position: relative !important;
}

.input-field .class-27 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-65.svg) !important;
  position: relative !important;
}

.input-field .class-28 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-64.svg) !important;
  position: relative !important;
}

.input-field .class-29 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-63.svg) !important;
  position: relative !important;
}

.input-field .class-30 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-62.svg) !important;
  position: relative !important;
}

.input-field .class-31 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-61.svg) !important;
  position: relative !important;
}

.input-field .class-32 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-92.svg) !important;
  position: relative !important;
}

.input-field .alert-circle-117 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.input-field .dropdown {
  align-items: center;
  position: relative;
}

.input-field .text-8 {
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .text-input {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.input-field .leading-text-2 {
  color: var(--gray-600);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .text-9 {
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.input-field .class-33 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-35.svg) !important;
  position: relative !important;
}

.input-field .class-34 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-34.svg) !important;
  position: relative !important;
}

.input-field .class-35 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-33.svg) !important;
  position: relative !important;
}

.input-field .class-36 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-32.svg) !important;
  position: relative !important;
}

.input-field .class-37 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-31.svg) !important;
  position: relative !important;
}

.input-field .class-38 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-30.svg) !important;
  position: relative !important;
}

.input-field .class-39 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-29.svg) !important;
  position: relative !important;
}

.input-field .class-40 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-36.svg) !important;
  position: relative !important;
}

.input-field .text-input-2 {
  align-items: center;
  position: relative;
}

.input-field .text-10 {
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.input-field .class-41 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-59.svg) !important;
  position: relative !important;
}

.input-field .class-42 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-58.svg) !important;
  position: relative !important;
}

.input-field .class-43 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-57.svg) !important;
  position: relative !important;
}

.input-field .class-44 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-56.svg) !important;
  position: relative !important;
}

.input-field .class-45 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-55.svg) !important;
  position: relative !important;
}

.input-field .class-46 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-54.svg) !important;
  position: relative !important;
}

.input-field .class-47 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-53.svg) !important;
  position: relative !important;
}

.input-field .class-48 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-52.svg) !important;
  position: relative !important;
}

.input-field .class-49 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-51.svg) !important;
  position: relative !important;
}

.input-field .class-50 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-48.svg) !important;
  position: relative !important;
}

.input-field .class-51 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-47.svg) !important;
  position: relative !important;
}

.input-field .class-52 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-44.svg) !important;
  position: relative !important;
}

.input-field .class-53 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-43.svg) !important;
  position: relative !important;
}

.input-field .class-54 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-40.svg) !important;
  position: relative !important;
}

.input-field .class-55 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-39.svg) !important;
  position: relative !important;
}

.input-field .class-56 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-60.svg) !important;
  position: relative !important;
}

.input-field .text-11 {
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.input-field .dropdown-text {
  color: var(--gray-900);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .text-input-3 {
  align-items: center;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.input-field .text-12 {
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1px;
  position: relative;
}

.input-field .class-57 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-49.svg) !important;
  position: relative !important;
}

.input-field .class-58 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-46.svg) !important;
  position: relative !important;
}

.input-field .class-59 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-45.svg) !important;
  position: relative !important;
}

.input-field .class-60 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-42.svg) !important;
  position: relative !important;
}

.input-field .class-61 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-41.svg) !important;
  position: relative !important;
}

.input-field .class-62 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-38.svg) !important;
  position: relative !important;
}

.input-field .class-63 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-37.svg) !important;
  position: relative !important;
}

.input-field .class-64 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/help-circle-50.svg) !important;
  position: relative !important;
}

.input-field .class-65 {
  border-radius: 0px 8px 8px 0px !important;
  box-shadow: unset !important;
  flex: 0 0 auto !important;
  z-index: 0 !important;
}

.input-field .class-66 {
  border: unset !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-radius: 0px 8px 8px 0px !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  box-shadow: unset !important;
  flex: 0 0 auto !important;
  z-index: 0 !important;
}

.input-field .hint-text {
  align-self: stretch;
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: relative;
}

.input-field.type-payment-input {
  width: 320px;
}

.input-field.type-default {
  width: 320px;
}

.input-field.type-tags {
  width: 400px;
}

.input-field.type-trailing-button {
  width: 400px;
}

.input-field.type-trailing-dropdown {
  width: 320px;
}

.input-field.type-leading-dropdown {
  width: 320px;
}

.input-field.type-icon-leading {
  width: 320px;
}

.input-field.type-leading-text {
  width: 320px;
}

.input-field .type-0-payment-input {
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.input-field .state-2-disabled {
  box-shadow: var(--shadow-xs);
}

.input-field .type-0-default {
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.input-field .type-0-tags {
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.input-field .type-0-trailing-button {
  align-items: flex-start;
  background-color: var(--basewhite);
  border-color: var(--gray-300);
  box-shadow: var(--shadow-xs);
}

.input-field .type-0-trailing-dropdown {
  align-items: flex-start;
  overflow: hidden;
}

.input-field .type-0-leading-dropdown {
  align-items: flex-start;
  overflow: hidden;
}

.input-field .state-2-placeholder {
  background-color: var(--basewhite);
  box-shadow: var(--shadow-xs);
}

.input-field .state-2-filled {
  background-color: var(--basewhite);
  box-shadow: var(--shadow-xs);
}

.input-field .type-0-icon-leading {
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.input-field .type-0-leading-text {
  align-items: flex-start;
  border-color: var(--gray-300);
  box-shadow: var(--shadow-xs);
}

.input-field .state-2-focused {
  background-color: var(--basewhite);
}

.input-field .type-0-leading-text.state-2-disabled {
  background-color: var(--gray-50);
}

.input-field .type-0-tags.size-5-md {
  padding: 10px 14px;
}

.input-field .state-2-disabled.type-0-trailing-dropdown {
  background-color: var(--gray-50);
}

.input-field .destructive-3-true.type-0-trailing-dropdown {
  border-color: var(--error-300);
}

.input-field .type-0-payment-input.destructive-3-true {
  border-color: var(--error-300);
}

.input-field .state-2-disabled.type-0-icon-leading {
  background-color: var(--gray-50);
}

.input-field .type-0-leading-dropdown.state-2-disabled {
  background-color: var(--gray-50);
}

.input-field .type-0-default.state-2-disabled {
  background-color: var(--gray-50);
}

.input-field .type-0-default.size-5-sm {
  padding: 8px 12px;
}

.input-field .destructive-3-false.state-2-disabled {
  border-color: var(--gray-300);
}

.input-field .type-0-payment-input.size-5-sm {
  padding: 8px 12px 8px 10px;
}

.input-field .size-5-md.type-0-icon-leading {
  padding: 10px 14px;
}

.input-field .type-0-default.size-5-md {
  padding: 10px 14px;
}

.input-field .destructive-3-true.type-0-leading-dropdown {
  border-color: var(--error-300);
}

.input-field .state-2-placeholder.destructive-3-false {
  border-color: var(--gray-300);
}

.input-field .type-0-default.destructive-3-true {
  border-color: var(--error-300);
}

.input-field .destructive-3-true.type-0-icon-leading {
  border-color: var(--error-300);
}

.input-field .size-5-sm.type-0-icon-leading {
  padding: 8px 12px;
}

.input-field .type-0-payment-input.size-5-md {
  padding: 10px 14px 10px 10px;
}

.input-field .type-0-tags.size-5-sm {
  padding: 8px 12px;
}

.input-field .type-0-tags.state-2-disabled {
  background-color: var(--gray-50);
}

.input-field .type-0-payment-input.state-2-disabled {
  background-color: var(--gray-50);
}

.input-field .type-0-tags.destructive-3-true {
  border-color: var(--error-300);
}

.input-field .destructive-3-false.state-2-filled {
  border-color: var(--gray-300);
}

.input-field .state-2-focused.destructive-3-false.type-0-leading-dropdown {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .state-2-focused.destructive-3-true.type-0-icon-leading {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .state-2-focused.destructive-3-true.type-0-trailing-dropdown {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .state-2-focused.type-0-payment-input.destructive-3-true {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .type-0-tags.state-2-focused.destructive-3-false {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .type-0-tags.state-2-focused.destructive-3-true {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .state-2-focused.destructive-3-false.type-0-trailing-dropdown {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .state-2-focused.type-0-payment-input.destructive-3-false {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .state-2-focused.type-0-default.destructive-3-false {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .state-2-focused.type-0-default.destructive-3-true {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .state-2-focused.destructive-3-false.type-0-icon-leading {
  border-color: var(--primary-300);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
}

.input-field .state-2-focused.destructive-3-true.type-0-leading-dropdown {
  box-shadow: var(--shadow-xs-focused-4px-error-100);
}

.input-field .type-5-trailing-button {
  color: var(--gray-600);
}

.input-field .destructive-8-false {
  color: var(--gray-600);
}

.input-field .type-5-payment-input.destructive-8-true {
  color: var(--error-500);
}

.input-field .type-5-tags.destructive-8-true {
  color: var(--error-500);
}

.input-field .type-5-default.destructive-8-true {
  color: var(--error-500);
}

.input-field .destructive-8-true.type-5-leading-dropdown {
  color: var(--error-500);
}

.input-field .destructive-8-true.type-5-leading-text {
  color: var(--error-500);
}

.input-field .destructive-8-true.type-5-icon-leading {
  color: var(--error-500);
}

.input-field .destructive-8-true.type-5-trailing-dropdown {
  color: var(--error-500);
}

.input-field .input.type-0-payment-input .payment-method-icon {
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--gray-100);
  border-radius: 4px;
  height: 24px;
  width: 34px;
}

.input-field .input.type-0-tags .payment-method-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
}

.input-field .input.state-2-placeholder.size-5-md .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-23.svg);
}

.input-field .input.state-2-placeholder.size-5-sm .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-21.svg);
}

.input-field .input.size-5-sm.state-2-disabled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-17.svg);
}

.input-field .input.size-5-md.state-2-disabled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-19.svg);
}

.input-field .input.state-2-focused.destructive-3-false.size-5-sm .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-5.svg);
}

.input-field .input.state-2-focused.destructive-3-true.size-5-md .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-3.svg);
}

.input-field .input.state-2-focused.destructive-3-false.size-5-md .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-7.svg);
}

.input-field .input.destructive-3-false.size-5-sm.state-2-filled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-13.svg);
}

.input-field .input.destructive-3-true.size-5-md.state-2-filled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-11.svg);
}

.input-field .input.destructive-3-false.size-5-md.state-2-filled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-15.svg);
}

.input-field .input.state-2-focused.size-5-sm.destructive-3-true .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-1.svg);
}

.input-field .input.size-5-sm.destructive-3-true.state-2-filled .avatar-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/0d2c1375309c1662175fac45e36f3073/img/avatar-9.svg);
}

.input-field .input.state-2-disabled .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-filled .text-7 {
  color: var(--gray-900);
}

.input-field .input.state-2-focused .text-7 {
  color: var(--gray-900);
}

.input-field .input.state-2-placeholder.type-0-trailing-button .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-leading-text .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.destructive-3-false .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-default .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-leading-dropdown .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-icon-leading .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-payment-input .text-7 {
  color: var(--gray-500);
}

.input-field .input.state-2-placeholder.type-0-trailing-dropdown .text-7 {
  color: var(--gray-500);
}

.input-field .input.type-0-tags.state-2-placeholder.destructive-3-true .text-7 {
  color: var(--gray-900);
}

.input-field .input.type-0-payment-input .dropdown {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-default .dropdown {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-tags .dropdown {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-trailing-button .dropdown {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-trailing-dropdown .dropdown {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
}

.input-field .input.type-0-leading-dropdown .dropdown {
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: space-between;
}

.input-field .input.type-0-icon-leading .dropdown {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-leading-text .dropdown {
  border-radius: 8px 0px 0px 8px;
  display: inline-flex;
  flex: 0 0 auto;
}

.input-field .input.size-5-md.type-0-leading-dropdown .dropdown {
  padding: 10px 0px 10px 14px;
}

.input-field .input.size-5-sm.type-0-leading-text .dropdown {
  padding: 8px 12px;
}

.input-field .input.size-5-sm.type-0-trailing-dropdown .dropdown {
  padding: 8px 0px 8px 12px;
}

.input-field .input.size-5-md.type-0-leading-text .dropdown {
  padding: 10px 12px 10px 14px;
}

.input-field .input.size-5-sm.type-0-leading-dropdown .dropdown {
  padding: 8px 0px 8px 12px;
}

.input-field .input.size-5-md.type-0-trailing-dropdown .dropdown {
  padding: 10px 0px 10px 14px;
}

.input-field .input.type-0-payment-input .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-default .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-tags .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-trailing-button .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-trailing-dropdown .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-leading-dropdown .text-8 {
  color: var(--gray-900);
}

.input-field .input.type-0-icon-leading .text-8 {
  color: var(--gray-600);
}

.input-field .input.type-0-leading-text .text-8 {
  color: var(--gray-600);
}

.input-field .input.state-2-placeholder .text-9 {
  color: var(--gray-500);
}

.input-field .input.state-2-focused .text-9 {
  color: var(--gray-900);
}

.input-field .input.state-2-disabled .text-9 {
  color: var(--gray-500);
}

.input-field .input.state-2-filled .text-9 {
  color: var(--gray-900);
}

.input-field .input.type-0-payment-input .text-input-2 {
  display: flex;
  flex: 1;
  padding: 10px 14px;
}

.input-field .input.type-0-default .text-input-2 {
  display: flex;
  flex: 1;
  padding: 10px 14px;
}

.input-field .input.type-0-tags .text-input-2 {
  display: flex;
  flex: 1;
  padding: 10px 14px;
}

.input-field .input.type-0-trailing-button .text-input-2 {
  display: flex;
  flex: 1;
  padding: 10px 14px;
}

.input-field .input.type-0-trailing-dropdown .text-input-2 {
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: space-between;
}

.input-field .input.type-0-leading-dropdown .text-input-2 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
}

.input-field .input.type-0-icon-leading .text-input-2 {
  display: flex;
  flex: 1;
  padding: 10px 14px;
}

.input-field .input.type-0-leading-text .text-input-2 {
  align-self: stretch;
  border: 1px solid;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
}

.input-field .input.size-5-sm.type-0-leading-text .text-input-2 {
  padding: 8px 12px;
}

.input-field .input.destructive-3-false.type-0-leading-text .text-input-2 {
  gap: 8px;
}

.input-field .input.state-2-placeholder.type-0-leading-text .text-input-2 {
  background-color: var(--basewhite);
  gap: 8px;
}

.input-field .input.type-0-leading-text.state-2-disabled .text-input-2 {
  border-color: var(--gray-300);
}

.input-field .input.size-5-sm.type-0-leading-dropdown .text-input-2 {
  padding: 8px 12px 8px 10px;
}

.input-field .input.size-5-md.type-0-leading-dropdown .text-input-2 {
  padding: 10px 14px 10px 12px;
}

.input-field .input.size-5-md.type-0-leading-text .text-input-2 {
  padding: 10px 14px;
}

.input-field .input.type-0-leading-text.state-2-filled .text-input-2 {
  background-color: var(--basewhite);
}

.input-field .input.state-2-focused.type-0-leading-text .text-input-2 {
  background-color: var(--basewhite);
  gap: 8px;
}

.input-field .input.size-5-md.type-0-trailing-dropdown .text-input-2 {
  padding: 10px 14px;
}

.input-field .input.size-5-sm.type-0-trailing-dropdown .text-input-2 {
  padding: 8px 12px;
}

.input-field .input.state-2-placeholder.destructive-3-false.type-0-leading-text .text-input-2 {
  border-color: var(--gray-300);
}

.input-field .input.state-2-focused.destructive-3-false.type-0-leading-text .text-input-2 {
  border-color: var(--primary-300);
  box-shadow: var(--focus-ring-4px-primary-100);
}

.input-field .input.state-2-placeholder.destructive-3-true.type-0-leading-text .text-input-2 {
  border-color: var(--error-300);
}

.input-field .input.destructive-3-false.type-0-leading-text.state-2-filled .text-input-2 {
  border-color: var(--gray-300);
}

.input-field .input.state-2-focused.destructive-3-true.type-0-leading-text .text-input-2 {
  border-color: var(--error-300);
  box-shadow: var(--focus-ring-4px-error-100);
}

.input-field .input.destructive-3-true.type-0-leading-text.state-2-filled .text-input-2 {
  border-color: var(--error-300);
  justify-content: space-between;
}

.input-field .input.state-2-placeholder .text-10 {
  color: var(--gray-500);
}

.input-field .input.state-2-focused .text-10 {
  color: var(--gray-900);
}

.input-field .input.state-2-disabled .text-10 {
  color: var(--gray-500);
}

.input-field .input.state-2-filled .text-10 {
  color: var(--gray-900);
}

.input-field .input.state-2-disabled .text-11 {
  color: var(--gray-900);
}

.input-field .input.type-0-leading-dropdown .text-11 {
  flex: 1;
}

.input-field .input.state-2-placeholder .text-11 {
  color: var(--gray-500);
}

.input-field .input.state-2-filled .text-11 {
  color: var(--gray-900);
}

.input-field .input.state-2-focused .text-11 {
  color: var(--gray-900);
}

.input-field .input.state-2-placeholder.type-0-leading-text .text-11 {
  flex: 1;
}

.input-field .input.type-0-leading-text.state-2-filled .text-11 {
  width: 195px;
}

.input-field .input.state-2-focused.type-0-leading-text .text-11 {
  flex: 1;
}

.input-field .input.size-5-md .text-input-3 {
  padding: 10px 14px;
}

.input-field .input.size-5-sm .text-input-3 {
  padding: 8px 12px;
}

.input-field .input.state-2-disabled .text-input-3 {
  background-color: var(--gray-50);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input.destructive-3-true .text-input-3 {
  border-color: var(--error-300);
}

.input-field .input.state-2-placeholder .text-input-3 {
  background-color: var(--basewhite);
}

.input-field .input.state-2-filled .text-input-3 {
  background-color: var(--basewhite);
}

.input-field .input.state-2-focused .text-input-3 {
  background-color: var(--basewhite);
  border: 1px solid;
}

.input-field .input.destructive-3-true.state-2-filled .text-input-3 {
  border: 1px solid;
}

.input-field .input.state-2-focused.destructive-3-false .text-input-3 {
  border-color: var(--primary-300);
  box-shadow: var(--focus-ring-4px-primary-100);
}

.input-field .input.state-2-placeholder.destructive-3-false .text-input-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-300);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input.destructive-3-false.state-2-disabled .text-input-3 {
  border-color: var(--gray-300);
}

.input-field .input.state-2-focused.destructive-3-true .text-input-3 {
  box-shadow: var(--focus-ring-4px-error-100);
}

.input-field .input.state-2-placeholder.destructive-3-true .text-input-3 {
  border: 1px solid;
}

.input-field .input.destructive-3-false.state-2-filled .text-input-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-300);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input.state-2-placeholder .text-12 {
  color: var(--gray-500);
}

.input-field .input.state-2-focused .text-12 {
  color: var(--gray-900);
}

.input-field .input.state-2-disabled .text-12 {
  color: var(--gray-500);
}

.input-field .input.state-2-filled .text-12 {
  color: var(--gray-900);
}
